**/*.suo
**/bin/
**/Bin/
**/obj/
**/Debug/
**/Release/
**/*.cachefile
**/~$*.docx
**/*.user
**/build_*_vc10
**/build_*_vc11*
**/lib/
**/*.sdf
**/*.opensdf
**/*.log
**/data-ram
**/Library/
**/Temp/
**/db.lock
**/.vs/
**/.vscode/
**/*.sln
**/*.csproj
