h2 {
	font-family: Arial, sans-serif;
	color: white;
}

.categories {
	background-color:#1a1a1a;
	text-align: center;
    border-bottom: 2px black solid;
    height: 40px;
}
.categories ul {

    list-style-type: none;
    margin: 0;
    padding: 0;

}

.categories li {
    display: inline;

}

.categories li a {
	display: inline-block;
    color: gray;
    padding: 8px 16px;
    text-decoration: none;
}

.categories li a:hover {
    color: white;
}

#navPlayButton {
	color: white;
  font-weight: bold;
	background-color: orange;
}

.bg {
  /* The image used */
  background-image: url("/images/background.png");

  /* Half height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

{{--new content added by jyw30--}}
#active {
	background-color: darkgray;
	color:white;
}

#activeplay {
	background-color:red;
	color:yellow;
}

#navPlayButton:hover{
	color:red;
}

.textbox{
    background-image: URL("/images/bg.png");
    text-align: justify;
    margin: 120px;
    padding: 80px;
    border-radius: 25px;
    border: 3px solid #39ff14;
	box-shadow: 0px 0px 50px lime;
}

h1{
    font-size: 70px;
    font-variant: small-caps;
    font-family: 'VT323', monospace;
}

p {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

ul.list {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-align: justify;
}

{{--#pos {
	position: absolute;
	right: 100%;
    bottom: 0%;
}
--}}

.review {
	text-align: center;
	color: white;
	font-style: italic;
	font-family: Arial, sans-serif;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container .box {
  width: 50%;
  margin: 20px;
  line-height: 50%;
}

.footer {
	background-color:#1a1a1a;
	text-align: center;
    border-top: 2px black solid;
    height: 40px;
    margin-top: 20px;
}

#footertext {
	display: inline-block;
    color: gray;
    padding: 8px 16px;
    text-decoration: none;
}

.content-bg {
	background-image: URL("/images/polygon.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
	height:100%;
}

.textboxhome {

    text-align: justify;
    margin: 120px;
    padding: 20px;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
	  padding: 15px;
    width: 70%;
}

.format{
	float:left;
	padding: 15px;
}


.gameNav a:link {
    color: #de686b;
	text-decoration:none;
}


.gameNav a:visited {
    color: #de686b;
	text-decoration:none;
}


.gameNav a:hover {
    color: #de686b;
	text-decoration: underline;
}


.gameNav a:active {
    color: #de686b;
	text-decoration:none;
}
