body{
	background-image: url("../img/binary2.jpg");
	color: #ffffff;
	text-shadow: 2px 2px #0000ff
}

h1{
	text-align: center;
}

form{
	margin: auto;
	width: 350px;
}

label{
	float: left;
	width: 120px;
}